# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

sync.sh

# Environment variables
.env

# Virtual environment
venv/
.env

# SQLite database
db.sqlite3

# Docker
.dockerignore

# Git
.git/

# VS Code settings
.vscode/

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

# OS-specific
.DS_Store
Thumbs.db
